/*#################################            ABOUT CSS PART-I               ################################*/

*,*:after,*:before{
    box-sizing: border-box;
  }
  body{
    padding: 0;
    margin: 0;
  }

.team-section{
    width: 100%;
    padding-top:10px;
}
.team-section .container{
    width: 80%;
    margin: auto;
}
.team-section .container .row{
    width: 60%;
    margin: auto;
}
.team-section .container .row .title{
    text-align: center;
    margin-top: 50px;
}
.team-section .container .row .title h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing:1.5px;
    color: #eb6234;
}
.team-section .container .row .title p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: #a3a3a3;
}
.team-section .container .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 50px;
}
.team-section .container .team-card .card{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}
.team-section .container .team-card .card:hover{
    background-color:#F5B7B1;
    transition: 0.3s;
}
.team-section .container .team-card .card .image-section img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #fff;
}
.team-section .container .team-card .card .content{
    width: 100%;
    text-align: center;
}
.team-section .container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #639ab8;
}
.team-section .container .team-card .card .content h4{
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color:#6e6e6e;
}
.team-section .container .team-card .card .content p{
    font-size: 15px;
    margin: 16px 0px;
    color: #6c6c6c;
}
@media screen and (max-width:900px){
    .team-section .container .team-card{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px){
    .team-section .container .team-card{
        grid-template-columns: repeat(1,1fr);
    }
}
/*#################################            ABOUT CSS PART-II              ################################*/

.about-team{
    width: 100%;
    padding: 25px;
}
.about-team h2{
     font-size: 30px;
     color: #eb6234;
     text-align: center;
     text-decoration: underline;
     padding-bottom: 20px;
}
.sectoin{
    display: flex;
    padding: 0 10% 0 10%;
}
.sectoin .ctent{
width: 60%;
padding-top:0;
}
.sectoin .ctent p{
    color: black;
    font-size: 16px;
    text-align:justify;
}
.sectoin .ctent button{
    border: 1px solid black;
    background-color: #eb6234;
    border-radius: 50px;
}
.sectoin .ctent button a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.sectoin .img_sec{
    width:500px;
    height: 300px;
    margin-left: 35px;
}
.sectoin .img_sec img{
    width:100%;
    height: 100%;
}